@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

img{
    width: 500px;
    height: 500px;
}

.inicio{
    background-image: url(Fotos/pizza1.gif);
    width: 100%;
    height: 500px;
    
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 80px;
    background-attachment: fixed;
}

.inicio h1{
    font-family: monospace;
    font-size: 70px;
    
}

body{
    max-width: 1000px;
    margin: 0 auto;
}

nav{
    
    margin: auto;
    background-color: white;
    font-size: 15px;
    margin-top: 0%;
    
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
    
}

.menu-horizontal > li > a {
    display: block;
    padding: 30px;
    
    color: black;
    text-decoration: none;
    
    
}

.menu-horizontal >li:hover{
    background-color: rgb(255, 254, 254);
    text-align: center;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.5);
   
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
    text-align: left;
    
}

.menu-vertical li:hover{
    background-color: black;
    
}

.menu-vertical a{
    text-decoration: none;
    color: black;
    padding: 20px;
    margin: 3px;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    
}